.card,
.modal-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.625rem;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.card img {
    height: 14.375rem;
}

.tags,
.modal-card .tags {
    border-radius: 0.3125rem;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 0.8125rem;
    text-align: left;
    color: #EB0028;
}

.title,
.modal-card .title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: left;
    color: #000000;
}

.meta,
.modal-card .meta {
    font-size: 0.75rem;
    display: flex;
    align-items: center;

    span {
        margin-right: 0.625rem;
    }
}

.author,
.modal-card .author {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
    text-align: left;
    color: #000000;
}

.date,
.views,
.modal-card .date,
.modal-card .views {
    font-weight: 400;
    color: #9B9B9B;
}

.text,
.modal-card .text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    color: #929292;
    font-weight: 400;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 8px;

    .card {
        width: calc((100% - 2.5rem) / 3);
        max-width: 22.5rem;
        min-height: 28.688rem;
        margin-bottom: 2.1rem;
    }
}

.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;

    img {
        max-height: 18.75rem;
        border-radius: 0.5rem;
    }

    .tags {
        padding: 0.3125rem 6.25rem;
        background-color: #FFE5E5;
        text-align: center;
    }

    .title {
        text-align: center;
    }
}

.no-results {
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cards-container .card {
        width: calc((100% - 2.5rem) / 2);
    }
}

@media screen and (max-width: 768px) {
    .cards-container {
        justify-content: center;
        gap: 0;
        margin-top: 0.875rem;

        .card {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}