header {
    border-bottom: 1px solid #E9E9E9;

    .header-top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 5rem;

        .search-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            .input-container {
                overflow-x: hidden;
                position: absolute;
                top: -50%;
                right: 1.5rem;

                .search-input {
                    border: none;
                    background-color: #f3f3f3;
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 1.25rem;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transform: translateX(100%);
                    width: 0;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    }

                    &.search-open {
                        transform: translateX(0);
                        width: 18.75rem;
                    }
                }
            }

            img {
                height: 1rem;
                width: 1rem;
                margin-left: 0.3125rem;
            }
        }

        .burger-container {
            flex: 1;

            img {
                display: none;
                width: 1.5625rem;
            }
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.655rem 0;

            img {
                width: 11.3125rem;
            }
        }

        @media only screen and (max-width: 768px) {
            .burger-container {
                img {
                    display: inline-block;
                }
            }

            .search-container {
                .input-container {
                    top: 1.75rem;
                    right: 0;
                }
            }
        }
    }
}