.navigation-item {
    padding: 1.375rem 0;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border: none;
    outline: none;

    img {
        width: 0.625rem;
    }

    &:hover .submenu {
        display: block;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1.25rem;
        min-width: 11rem;
        border: 1px solid #E9E9E9;
        background: #fff;
        z-index: 99999;

        .submenu-item {
            font-weight: 400;
            font-size: 0.813rem;
            line-height: 0.813rem;
            border-bottom: 0.0625rem solid #E9E9E9;
            padding: 0.625rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;

            img {
                transform: rotate(270deg);
                height: 0.313rem;
                width: 0.5rem;
            }

            &:hover {
                color: #969696;

                span {
                    margin-left: 0.3125rem;
                }
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    top: 0;
    background-color: white;
    transition: top 0.3s ease;

    &.sticky {
        position: sticky;
        top: 0;
    }

    .navigation-list {
        display: flex;
        gap: 2rem;
    }
}

.mobile-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 85.33%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    overflow-y: auto;

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.25rem;
        height: 5rem;
        border-bottom: 1px solid #E9E9E9;

        .mobile-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 1.5rem;
            }
        }

        .mobile-close-container {
            img {
                width: 1.15rem;
            }
        }
    }

    &.open {
        transform: translateX(0);
    }

    .mobile-navigation-list {
        display: flex;
        flex-direction: column;
        padding: 1.25rem;

        .navigation-item {
            padding: 1rem 0;
            border-bottom: 1px solid #E9E9E9;

            &:last-child {
                border: none;
            }
        }
    }
}

.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
}

@media only screen and (max-width: 1024px) {
    .navigation-bar {
        display: none;
    }
}