* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out;
}

body {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    background: none;
}

.container {
    max-width: 75rem;
    padding: 0 1.25rem;
    margin: 0 auto;
}